<body>
    <app-logout></app-logout>
    <app-navbar></app-navbar>
    
        <div class="titulos text-center">
        <h4>Admin de  {{namecompay}}</h4>
        <p class="text-sm-muted">BIENVENIDO.</p>
        </div>
        
        <div class="container-empresa">
    
            <div class="tabla">
                <br>
                 <div class="acciones">
                  <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAgregarUnNuvoEmpleado" class="add" *ngIf="bloqueobotones">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                    </svg>
                  </button>
                  <div class="search">
                    <input type="text" placeholder="Busqueda" class="buscadorinput"
                    name="search" #search="ngModel" [(ngModel)]="busqueda.search" (change)="Buscar()">
                    <button type="button" class="add1" (click)="Buscar()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg></button>
                  </div>
                  <button type="button" class="btn btn-warning" *ngIf="bloqueobotones" (click)="Imprimir()">
                    <i class='bx bxs-file-pdf bx-sm'></i>Imprimir</button>
                 </div>
                <div class="overflow-auto">
                  <table class="table"  id="table-empleados">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Pais</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let datosempleados of datosempleados">
                        <td>{{datosempleados.name}}</td>
                        <td>{{datosempleados.surname}}</td>
                        <td>{{datosempleados.job}}</td>
                        <td>{{datosempleados.departamento}}</td>
                        <th scope="col">
                          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" (click)="removeEmpleado(datosempleados._id)" class="btn btn-danger">Eliminar</button>
                            <button type="button" (click)="datos(datosempleados._id)" class="btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditarUsuario">Editar</button>
                          </div>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
             </div> 
    
        </div>
    
      
        
    </body>
    
    
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAgregarUnNuvoEmpleado" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Agregar Sucursal</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form>
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" placeholder="Ingrese el nombre del usuario"
              name="name" #name="ngModel" [(ngModel)]="ModelosEmpleados.name">
            </div>
            <div class="mb-3">
              <label class="form-label">Direccion</label>
              <input type="text" class="form-control" placeholder="Ingrese el apellido del usuario"
              name="surnamme" #surname="ngModel" [(ngModel)]="ModelosEmpleados.surname">
            </div>
            <div class="mb-3">
              <label class="form-label">Pais</label>
              <input type="text" class="form-control" placeholder="Ingrese el puesto"
              name="job" #job="ngModel" [(ngModel)]="ModelosEmpleados.job">
            </div>
            <div class="mb-3">
              <label class="form-label">Departamento</label>
              <input type="text" class="form-control" placeholder="Ingrese el departamento"
              name="departamento" #departamento="ngModel" [(ngModel)]="ModelosEmpleados.departamento">
            </div>
            <button type="submit" class="btn btn-primary center" data-bs-dismiss="offcanvas" (click)="AgregarUnEmpleado()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEditarUsuario" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Editar Sucursal</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form>
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre del usuario."
              name="name" #name="ngModel" [(ngModel)]="ModelosEmpleados.name">
            </div>
            <div class="mb-3">
              <label class="form-label">Direccion</label>
              <input type="text" class="form-control" placeholder="Apellido"
              name="surname" #surname="ngModel" [(ngModel)]="ModelosEmpleados.surname">
            </div>
            <div class="mb-3">
              <label class="form-label">Pais</label>
              <input type="text" class="form-control" placeholder="Puesto"
              name="job" #job="ngModel" [(ngModel)]="ModelosEmpleados.job">
            </div>
            <div class="mb-3">
              <label class="form-label">Departamento</label>
              <input type="text" class="form-control" placeholder="Departamento"
              name="departamento" #departamento="ngModel" [(ngModel)]="ModelosEmpleados.departamento">
            </div>
            <button type="submit" class="btn btn-primary" (click)="Actualizar()" data-bs-dismiss="offcanvas">Actualizar</button>
          </form>
        </div>
      </div>